<!DOCTYPE html>
<html>
  <head>
    <title>Palindromes</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body style="text-align: center; padding-top: 50px; background-color: skyblue;">
    <h1>Enter a word to check if it is a palindrome!</h1>
    <form action="/result" method="post">
     <label for="input">Enter a word:</label>
     <input id="input" name="input" type="text">

     <button type="submit">Check!</button>
    </form>
  </body>
</html>